<html>
    <head>
        <title>Weatherbird</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/css/reset.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="/js/jquery-3.1.1.min.js"></script>
    </head>
    <body>
        <div class="content-wrapper">
            <div class="desc-wrapper">
                <div class="descriptor">
                    CLOUDY
                </div>
            </div>
            <div class="icon">
                <img src="/img/cloud-drizzle-moon-alt.svg" class="icon-img" alt="Icon displaying a cloud, rain, and moon." />
            </div>
            <a href="#">
                <div class="temp">
                <span class="num">45</span>°<span class="metric">F</span>
                </div>
            </a>
            <div class="location">
                <div class="city">
                    OAKLAND
                </div>
                <div class="country">
                    USA
                </div>
            </div>
        </div>
        <script src="/js/scripts.js"></script>
    </body>
</html>
